

.instagram {
	position: relative;
	box-sizing: border-box;
	width: 16em;
	height: 16em;
	background: red;
	margin: 50px auto;
	border-radius: 3.7em;
	background: radial-gradient(70% 55%, #EFD882 19%, #F47618 49%, #D22A83 80%, #3F64D2 100%);
	background-position: 0 2.2em;
	font-size: 1em;
}
.instagram__camera {
	position: absolute;
	box-sizing: border-box;
	border: 1.06em solid #fff;
	width: 12.125em;
	height: 12.125em;
	top: 1.9em;
	left: 1.9em;
	border-radius: 3.7em;
}
.instagram__camera:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
	background-color: #fff;
	top: 1.06em;
	right: 1.06em;
}
.instagram__camera:before {
	content: "";
	position: absolute;
	box-sizing: border-box;
	width: 6.2em;
	height: 6.2em;
	border-radius: 50%;
	border: 1.06em solid #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
